<div class="container">
  <h2 class="title-lg">Изменяем Вопрос <%= @question.id%></h2>

  <% if @question.author.present? %>
    <p>Автор вопроса: <%= link_to display_nickname(@question.author), user_path(@question.author) %></p>
  <% end %>

  <%= render partial: 'form', locals: {question: @question} %>
</div>
